/* ICONS */
.icon-1 { font-size: 50px; }
.icon-2 { font-size: 75px; }
.icon-3 { font-size: 100px; }

/* Margins */
.margin-1 { margin: 0 20px 0 20px; }

.container {
    display: flex;
    flex-direction: column;
}

.cropped { 
    width: 225px; height: 300px; overflow: hidden; 
} 

.child {
    align-items: center;
    text-align: center;
}
/* Contact */

