/* ICONS */
.icon-1 { font-size: 50px; }
.icon-2 { font-size: 75px; }
.icon-3 { font-size: 100px; }

/* Margins */
.margin-1 { margin: 0 20px 0 20px; }

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* Navigation */
.nav{
    justify-content: center;
    display: flex;
    gap: 2em;
}
.nav > a {
    text-decoration: none;
}
.nav > a:hover {
    text-decoration: none;
}


.cropped { 
    width: 225px; height: 300px; overflow: hidden; 
} 

.profile {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.child {
    align-items: center;
    text-align: center;
}
/* Contact */


